/*------------------------------------------------------------------*/
/*  colour
/*------------------------------------------------------------------*/

$base-color: #17c711;
$second-color: #e8fd27;

// text
$text-default: #000000;
$text-blue: #4a80ff;
$text-red: #f64f65;
$text-grey1: #777777;
$text-grey2: #949494;
$text-grey3: #6a6a6a;
$text-grey4: #ececec;
// button
$btn-default: #17c711;
$btn-secondary: #d4d6db;
$btn-border: #dededf;
// line
$line-default: #d0d0d0;
$line-secondary: #ebebeb;
$line-bright: #e4e4e5;
$line-blue: #4680fd;
// back-ground
$bg-default: #fafafa;
$bg-secondary: #f7f7f7;
$bg-footer: #1e2333;
