.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
      height: auto;
      margin: auto;
      .modal-header {
        border: none;

        h5 {
          font-size: 20px;
        }
        button {
          width: 14px;
          height: 14px;
          background-image: url("../img/common/close.png");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          text-indent: -9999px;
        }
      }

      .modal-body {
        h6 {
          font-size: 20px;
          font-weight: 500;
        }

        .modal-body-content {
          padding: 0.5rem;
          box-sizing: border-box;
          .inner {
            min-height: 60px;
            margin: 0;
            div {
              display: flex;
              align-items: center;
              label {
                margin-right: 1rem;
                min-width: 30px;
              }
            }
          }
        }
      }

      .modal-footer {
        border: none;
        justify-content: center;
        margin: 20px 0;
        button {
          font-size: 14px;
        }
      }
    }
  }

  &.lg {
    .modal-dialog {
      max-width: 1160px;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: auto;
  }
}

// COMMON ------------------------------------------
// 비밀번호 변경
#passwordModal {
  .modal-dialog {
    max-width: 760px;
    .modal-content {
      .modal-body {
        width: 500px;
        margin: auto;
        .modal-body-content {
          .mbc-info {
            font-size: 14px;
          }
          table {
            width: 100%;
            margin-top: 20px;
            tbody {
              tr {
                th {
                  width: 25%;
                  vertical-align: top;
                  label {
                    margin-top: 5px;
                    font-size: 14px;
                  }
                }
                td {
                  padding-left: 1rem;
                  height: 60px;
                  vertical-align: top;
                  input {
                    width: 100%;
                    font-size: 14px;
                  }
                  span {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }

      .modal-footer {
        margin-bottom: 20px;
        button {
          width: 300px;
        }
      }
    }
  }
}