.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
      height: auto;
      margin: auto;
      .modal-header {
        border: none;

        h5 {
          font-size: 20px;
        }
        button {
          width: 14px;
          height: 14px;
          background-image: url("../img/common/close.png");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          text-indent: -9999px;
        }
      }

      .modal-body {
        h6 {
          font-size: 20px;
          font-weight: 500;
        }

        .modal-body-content {
          padding: 0.5rem;
          box-sizing: border-box;
          .inner {
            min-height: 60px;
            margin: 0;
            div {
              display: flex;
              align-items: center;
              label {
                margin-right: 1rem;
                min-width: 30px;
              }
            }
          }
        }
      }

      .modal-footer {
        border: none;
        justify-content: center;
        margin: 20px 0;
        button {
          font-size: 14px;
        }
      }
    }
  }

  &.lg {
    .modal-dialog {
      max-width: 1160px;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: auto;
  }
}

// COMMON ------------------------------------------
// 비밀번호 변경
#passwordModal {
  .modal-dialog {
    max-width: 760px;
    .modal-content {
      .modal-body {
        width: 500px;
        margin: auto;
        .modal-body-content {
          .mbc-info {
            font-size: 14px;
          }
          table {
            width: 100%;
            margin-top: 20px;
            tbody {
              tr {
                th {
                  width: 25%;
                  vertical-align: top;
                  label {
                    margin-top: 5px;
                    font-size: 14px;
                  }
                }
                td {
                  padding-left: 1rem;
                  height: 60px;
                  vertical-align: top;
                  input {
                    width: 100%;
                    font-size: 14px;
                  }
                  span {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }

      .modal-footer {
        margin-bottom: 20px;
        button {
          width: 300px;
        }
      }
    }
  }
}

// 채용 --------------------------------------------
#recruitModal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .modal-body-content {
          border: 1px solid $line-bright;
          label {
            font-weight: 400;
            width: 70px;
          }

          input {
            height: 36px;
          }

          .modal-body-2 {
            flex-wrap: nowrap;
            padding: 0 1rem;
            box-sizing: border-box;
          }

          .modal-photo-wrap {
            padding-left: 4.5rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .photo {
              width: 150px;
              height: 180px;
              border: 1px solid $line-bright;
            }
          }

          .modal-input-wrap {
            table {
              width: 100% !important;
              tbody {
                tr {
                  th {
                    label {
                      width: 100px;
                      font-size: 14px;
                    }
                  }
                  td {
                    width: 360px;
                    height: 45px;
                    .radio-inner {
                      display: flex;
                      align-items: center;
                    }

                    label {
                      width: auto;
                      display: block;
                      // 기본 setting
                      input[type="radio"] {
                        display: none;
                      }
                      input[type="radio"]:checked + span {
                        background-color: $btn-default;
                        color: white;
                      }
                      span {
                        display: block;
                        width: 36px;
                        height: 30px;
                        background-color: $bg-secondary;
                        text-align: center;
                        font-size: 14px;
                        line-height: 30px;
                        cursor: pointer;
                      }

                      &.radio-before {
                        span {
                          border-radius: 5px 0 0 5px;
                        }
                      }

                      &.radio-after {
                        span {
                          border-radius: 0 5px 5px 0;
                        }
                      }

                      // 채용_모달_국적
                      &.foreign-radio {
                        span {
                          width: 55px;
                        }
                      }

                      &.career-radio {
                        span {
                          width: 45px;
                        }
                      }
                    }

                    input[type="text"] {
                      width: 80px;
                    }

                    input.w-custom {
                      width: 274px;
                    }

                    input.w-custom2 {
                      width: 156px;
                    }

                    button {
                      height: 36px;
                    }

                    input.w-custom3 {
                      width: 50px;
                      text-align: right;
                    }

                    span {
                      font-size: 14px;
                    }

                    &.ad-inner {
                      width: 100%;
                      position: relative;
                      padding-top: 5px;
                      height: 90px;
                      .zipCode {
                        width: 120px;
                        padding-right: 32px;
                        box-sizing: border-box;
                      }
                      .address-search {
                        position: absolute;
                        top: 17px;
                        left: 90px;
                        cursor: pointer;
                        text-indent: -9999px;
                        width: 12px;
                        height: 12px;
                        background: transparent;
                        background-image: url("../img/common/search-blue.png");
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        background-size: contain;
                        display: block;
                      }
                      .address1 {
                        width: 588px;
                      }
                      .address2 {
                        width: 716px;
                      }
                    }

                    .dp__pointer {
                      width: 126px;
                    }
                  }
                }

                input,
                select,
                button {
                  font-size: 14px;
                }
              }
            }

            &.mt-3 {
              padding: 0 20px;
              box-sizing: border-box;
            }
          }

          .modal-body-3 {
            .modal-input-wrap {
              width: 100%;
              tbody {
                tr {
                  th {
                    label {
                      width: auto;
                    }
                  }
                  td {
                    width: auto;
                    height: 50px;
                    input,
                    select {
                      width: 200px !important;
                      font-size: 14px;
                    }

                    input {
                      &.btnInput {
                        width: 105px !important;
                      }
                    }

                    button {
                      width: 87px;
                      height: 36px;
                    }

                    &.td-inner {
                      align-items: flex-start;
                    }
                  }
                }
              }
            }
          }

          &.recruit-modal-content {
            padding: 2rem 1rem;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

#groupModal {
  .modal-dialog{
    max-width: 300px;
    .modal-content{
      .modal-body{
        padding:0 25px 25px 25px;
      }

      .modal-footer{
        margin:0;
        button{
          width:100px;
          height:35px;
          
        }
      }
    }
  }
}

// 인사 --------------------------------------------
// 교육정보, 평가 일괄등록
#allEdu,
#allEva {
  .modal-dialog {
    .modal-content {
      .modal-body {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        box-sizing: border-box;
        &__box {
          height: 740px;
          border: 1px solid $line-bright;
          padding: 30px 20px;
          box-sizing: border-box;
        }
        .excel-info {
          width: 300px;
          p {
            font-size: 14px;
            word-break: keep-all;
          }
          button {
            margin: 20px 0 50px 0;
            font-size: 14px;
            height: 36px;
          }
          button.eduFormDownload {
            width: 160px;
            background-color: #333333;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              width: 12px;
              height: 12px;
              //background-image: url("../img/hr/upload.png");
              background-size: contain;
              margin-right: 0.5rem;
            }
            span {
              color: white;
            }
          }

          input[type="file"] {
            width: 100%;
            height: 60px;
            margin-top: 20px;
            border: none;
            padding: 0;
            box-sizing: border-box;
            font-size: 14px;
          }

          input[type="file"]::file-selector-button {
            width: 80px;
            height: 30px;
            font-size: 14px;
            border: 1px solid $btn-default;
            padding: 4px 12px;
            box-sizing: border-box;
            color: $text-blue;
            background-color: #fff;
            border-radius: 4px;
          }
        }
        .edu-show {
          width: 786px;
          p {
            margin-top: 20px;
            font-size: 14px;
            span {
              color: red;
            }
          }
        }
      }
    }
  }
}

// 프로필 생성
#createP {
  .modal-dialog {
    max-width: 671px;
    .modal-content {
      .modal-body {
        table {
          width: 100%;
          tbody {
            tr {
              height: 60px;
              th {
                width: 120px;
                vertical-align: top;
                padding-top: 8px;
                box-sizing: border-box;
                label {
                  font-size: 14px;
                }
              }
              td {
                vertical-align: top;
                input {
                  width: 100%;
                  font-size: 14px;
                }
                .invalid-text {
                  margin-top: 0.1rem;
                  font-size: 12px;
                }
              }

              &:last-child {
                height: 40px;
              }
            }
          }
        }
      }
      .modal-footer {
        margin: 0 0 20px 0;
        padding: 0;
      }
    }
  }
}

// 인사발령
.transferModal {
  .modal-dialog {
    .modal-body {
      &__header {
        width: 100%;
        height: 130px;
        border: 1px solid $line-bright;
        padding: 15px 30px;
        box-sizing: border-box;
        table {
          width: 100%;
          tbody {
            tr {
              th,
              td {
                vertical-align: middle;
                height: 50px;
                input,
                select,
                .dp__main {
                  width: 150px;
                }

                .inner {
                  display: flex;
                  button {
                    margin-left: 0.5rem;
                    width: 80px;
                    height: 36px;
                    font-size: 14px;
                    border: 1px solid $second-color;
                  }
                }
              }
            }
          }
        }
      }

      &__body {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .depart-before {
          width: 385px;
          .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            label {
              font-size: 14px;
            }
            input {
              width: 170px;
              height: 30px;
              font-size: 14px;
            }
            button {
              width: 70px;
              height: 30px;
              font-size: 14px;
            }
          }
        }

        .depart-move-button {
          width: 140px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          padding: 0 35px;
          button {
            width: 80px;
            height: 30px;
            font-size: 14px;
            padding: 0;
            span {
              display: flex;
              margin-right: 0.5rem;
              margin-top: 0.1rem;
              justify-content: center;
              align-items: center;
              color: $text-blue;
              &:before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                //background-image: url("../img/hr/transfer/lt.png");
                background-position: 50% 50%;
                background-size: 90%;
                // background-size: contain;
              }
            }
            &.add {
              margin-bottom: 0.5rem;
              span {
                margin-left: 1rem;
                &:before {
                  display: none;
                }
                &:after {
                  content: "";
                  display: block;
                  width: 16px;
                  height: 16px;
                  //background-image: url("../img/hr/transfer/gt.png");
                  background-position: 50% 50%;
                  background-size: 90%;
                  // background-size: contain;
                }
              }
            }
          }
        }

        .depart-after {
          width: 572px;
          p {
            font-size: 14px;
            margin-bottom: 1.5rem;
            span {
              color: $text-blue;
            }
          }
        }

        .transferGrid {
          max-height: 280px;
        }
      }
    }

    .modal-footer {
      margin-top: 10px !important;
      padding-top: 0px;
    }
  }
}

// 참여인력 추가
.pjModal {
  .modal-dialog {
    .modal-body {
      &__body {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .depart-before {
          width: 500px;
          .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            label {
              font-size: 16px;
            }
            input {
              width: 170px;
              height: 30px;
              font-size: 14px;
            }
            button {
              width: 70px;
              height: 30px;
              font-size: 14px;
            }
          }
        }

        .depart-move-button {
          width: 140px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          padding: 0 30px;
          button {
            width: 80px;
            height: 30px;
            font-size: 14px;
            padding: 0;
            span {
              display: flex;
              margin-right: 0.5rem;
              margin-top: 0.1rem;
              justify-content: center;
              align-items: center;
              color: $text-blue;
              &:before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                //background-image: url("../img/hr/transfer/lt.png");
                background-position: 50% 50%;
                background-size: 90%;
                // background-size: contain;
              }
            }
            &.add {
              margin-bottom: 0.5rem;
              span {
                margin-left: 1rem;
                &:before {
                  display: none;
                }
                &:after {
                  content: "";
                  display: block;
                  width: 16px;
                  height: 16px;
                  //background-image: url("../img/hr/transfer/gt.png");
                  background-position: 50% 50%;
                  background-size: 90%;
                  // background-size: contain;
                }
              }
            }
          }
        }

        .depart-after {
          width: 500px;
          p {
            font-size: 16px;
            margin-bottom: 1.4rem;
            span {
              color: $text-blue;
            }
          }
        }

        .transferGrid {
          max-height: 280px;
        }
      }
    }

    .modal-footer {
      margin-top: 10px !important;
      padding-top: 0px;
    }
  }
}