$ac-page-width: 100%;
$ac-page-height: 1420px;
$ac-page-top: 23px;

$second-color: #4a80ff;

%bullet {
  &:before {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #bac8f3;
    content: "";
    margin-right: 8px;
  }
}

// 보고서(전체) -===============================================================
// 프로필 보기(간략 : default)
.ac-page {
  &:not(:first-of-type) {
    margin-top: 40px;
  }
  width: $ac-page-width; //110 dpi
  min-height: $ac-page-height; //110dpi
  position: relative;
  font-size: 13px;
  &:before {
    display: block;
    content: "";
    background: $second-color;
    height: $ac-page-top;
  }

  // common
  // 공통 Title
  h3 {
    font-size: 16px;
    font-weight: 600;
    color: $second-color;
    line-height: 1;
    margin-bottom: 15px;
    &:not(:first-child) {
      margin-top: 50px;
    }
  }

  ul {
    li {
      list-style: none;
      @extend %bullet;
      margin-top: 0.5rem;
    }
  }

  // 1page --------------------------------------------------------------------
  // 1page. personal Info ~ Project Experience
  .content {
    padding: 60px 0 0 40px;
    box-sizing: border-box;
    .ac-page__1 {
      position: relative;
      z-index: 100;
      display: flex;
      // 1page 사진, 이름, 총평
      .before {
        width: 540px;

        .top-head {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          .pic {
            width: 170px;
            height: 226px;
            overflow: hidden;
            border: 1px solid #e6e6e6;
            background: #e6e6e6;
            img {
              object-fit: cover;
            }
          }

          .report-header {
            margin-left: 70px;
            .name {
              display: flex;
              align-items: flex-end;
              height: 40px;
              h2 {
                float: left;
                font-size: 28px;
                margin-bottom: 0;
              }
              em {
                font-style: normal;
                font-size: 16px;
                margin-left: 10px;
              }
            }

            .career {
              margin-top: 0.5rem;
              font-size: 14px;
              color: #9d9d9d;
              span {
                color: #9d9d9d;
              }
            }

            ul {
              padding-left: 0;
              margin-top: 15px;
              li {
                list-style: none;
                @extend %bullet;
                margin-top: 10px;
              }
            }
          }
        }
      }
      .after {
        margin-left: 60px;
        .rating-box {
          display: flex;
          margin-top: 30px;
          align-items: center;
          .rating-title {
            width: 85px;
            span {
              display: block;
              width: 60px;
              height: 60px;
              border: 1px solid $second-color;
              border-radius: 100%;
              color: $text-blue;
              font-size: 10px;
              line-height: 60px;
              text-align: center;
            }
          }
        }

        dl {
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
          &:before {
            display: none;
          }

          .star-icon {
            pointer-events: none;
            div {
              font-size: 30px;
              padding: 20px 0;
            }
            input {
              display: none;
            }

            input + label{
              display: block;
              margin-top: 5px;
              float: left;
              width: 40px;
              height: 8px;
              background-color: $second-color;
              cursor: pointer;
              margin-bottom: 10px;
            }

            label{
              &:first-of-type {
                border-radius: 5px 0 0 5px;
              }

              &:last-of-type {
                border-radius: 0 5px 5px 0;
              }
            }

            input:checked + label ~ label{
              background-color: white;
            }

            label:active {
              transition: 0.3s ease;
            }

            &.unchecked{
              label{
                background-color: white !important;
              }
            }
          }
        }
      }

      &.revert {
        margin-top: 85px;
      }

      dl {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        @extend %bullet;
        dt {
          font-weight: 500;
          font-size: 14px;
          margin-right: auto;
        }
      }

      .personalInfo {
        li {
          list-style: none;
          margin-top: 5px;

          &:before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 0.5rem;
            float: left;
            background: transparent;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            //background-image: url("../img/hr/profile/education.png");
          }

          &.birth {
            &:before {
              //background-image: url("../img/hr/profile/user.png");
            }
          }

          &.phone {
            &:before {
              //background-image: url("../img/hr/profile/call.png");
            }
          }

          &.email {
            &:before {
              //background-image: url("../img/hr/profile/mail.png");
            }
          }

          &.location {
            display:flex;
            &:before {
              //background-image: url("../img/hr/profile/location.png");
            }
          }
        }
      }

      .license {
        height: 140px;
      }

      .profeEx {
        height: 130px;
      }

      .projeEx {
        table {
          max-height: 300px;
          border: 0;
          border-top: 2px solid $line-blue;
          thead,
          tbody {
            tr {
              th,
              td {
                text-align: center;
                padding-left:6px;
                padding-right:6px;
              }
            }
          }

          thead {
            tr {
              th {
                background-color: $bg-secondary;
              }
            }
          }
        }

        &.no-edit{
          table{
            thead,
            tbody{
              tr{
                th,td{
                  &:nth-child(1){
                    width:55%;
                  }
                  &:nth-child(2){
                    width:20%;
                  }
                  &:nth-child(3){
                    width:25%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // 1page Domain
  &:first-of-type {
    &:after {
      display: block;
      content: "";
      background: #f7f7f7;
      width: 330px;
      height: calc(#{$ac-page-height} - #{$ac-page-top});
      position: absolute;
      top: calc(#{$ac-page-top} + 1px);
      right: 0;
      z-index: 99;
    }

    .report-header-domain {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      h3 {
        width: 100%;
      }
    }
  }
  // --------------------------------------------------------------------------

  // 2page --------------------------------------------------------------------
  table {
    width: 100%;
    border-top: 2px solid $second-color;
    border-bottom: 1px solid #c3c3c9;
    font-size: inherit;
    tr:first-child {
      th,
      td {
        border-top: none;
      }
    }
    th,
    td {
      border-top: 1px solid #e6e6e6;
      padding: 0.4rem 1rem;
    }
    th {
      background: #f7f7f7;
      vertical-align: middle;
      font-weight: 500;
      width: 20%;
    }
    td {
      width: 30%;
      ul {
        li {
          line-height: 1.5;
          &::before {
            width: initial;
            height: initial;
            content: "\00B7";
            color: #70cfff;
            background-color: transparent;
          }
          &:not(:first-child) {
            margin-top: 5px;
          }
        }
      }
    }
  }

  .ac-page__2 {
    margin-top: 35px;
    padding-right: 40px;
    box-sizing: border-box;
    .col-12 {
      margin-top: 40px;
    }

    .col-12 + .col-12 {
      margin-top: 60px;
    }
  }

  &.ac-page2 {
    margin-top: 0.5rem;
    &:before {
      border-top: 1px solid $line-bright;
      // background: transparent;
    }
  }
}

// 프로필 보기(상세)
.profileB {
  .ac-page {
    .report-header-personal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      ul {
        width: 285px;
        li.location {
          display: flex;
          &:before {
            width: 20px;
          }
        }
      }
    }
  }
}

#profileDD {
  .ac-page {
    .report-header-personal {
      ul {
        li {
          &:before {
            margin-top: 1px;
          }
        }
      }
    }
  }
}


// 보고서(수정) =================================================================
// 프로필보기
.profileModal {
  .modal-dialog {
    max-width: 980px;
    .modal-content {
      .modal-header {
        justify-content: space-between;
        padding-bottom: 0;
        h2{
          font-size:18px;
          font-weight: 500;
          margin-left: 1rem;
          user-select: none;
        }
        button.createProfile, button.custom-btn {
          width: 125px;
          height: 36px;
          background-image: none;
          text-indent: 0;
          font-size: 14px;
          margin-right: 0.5rem;
        }

        button.close {
          width: 80px;
          height: 36px;
          background-image: none;
          text-indent: 0;
          font-size: 14px;
        }
      }
      .modal-body {
        padding-top: 0;

        &__body {
          width: 100%;
          height: auto;
          border: 1px solid $line-bright;
          margin-top: 16px;
        }
      }
      .modal-footer{
        margin:0;
      }

      form{
        .modal-body{
          label{
            text-indent:-9999px;
          }
          input{
            height:25px;
          }

          // head
          .top{
            .report-header{
              margin-left: 30px !important;
              &-domain{
                ul{
                  width:100%;
                }
              }
              .career{
                font-size:12px !important;
              }
            }
            
            .head{
              &_1{
                width:80px;
              }
              &_2{
                width:30px;
              }
              &_3{
                width:320px;
              }
              &_4{
                width:240px;
              }
            }
            ul{
              li{
                margin-top: 5px !important;
              }
            }
          }

          .report-header-personal{
            .personalInfo{
              .edu{
                input{
                  width:120px;
                }
              }
            }
          }
          
          // revert
          .revert{
            ul{
              li.edu{
                &:before{
                  margin-top: 5px;
                }
              }
            }

            .license, .profeEx{
              dl{
                dt{
                  input{
                    width:350px;
                  }
                }
              }
            }
            

            .star-icon{
              pointer-events: all;
            }
          }

          // 2page
          .before{
            .page2list{
              li{
                input{
                  width:90%;
                }
              }
            }
          }
          .after{
            .page2list{
              li{
                input{
                  width:240px;
                }
              }
            }
          }
          
          .pjTable{
            tbody{
              tr{
                td{
                  input, textarea{
                    width:100%;
                  }
                  textarea{
                    border:1px solid $line-bright;
                    resize: none;
                    outline: none;
                    padding:5px;
                    box-sizing: border-box;
                    height:130px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}